@import "../style/var.scss";
.quiz-container {
  width: 500px;
  background-color: $accent;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;

  div {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    div {
       
      .active-question-no {
        font-size: 32px;
        font-weight: 500;
        color: $primary;
      }

      .total-question {
        font-size: 16px;
        font-weight: 500px;
        color: $primary;
      }
    }

    div {
      .timer {
       border: 2px solid $primary;
       padding: 4px;
       border-radius: 4px;
       font-weight: 700;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 500px;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;
    li {
      text-decoration: none;
      list-style: none;
      color: $foreground;
      font-size: 16px;
      background-color: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }

    .selected-answer {
      background-color: $primary;
      border: 1px solid $accent;
      color: $bg;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
  button {
    background-color: $primary;
    border-radius: 9px;
    font-size: 10px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;

    &:disabled {
      background-color: $bg-accent;
      color: $disabled;
      cursor: not-allowed;
    }
  }

  .result {
    text-align: center;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }

    p {
      font-size: 16px;
      font-weight: 500;

      span {
        color: $primary;
        font-size: 22px;
      }
    }

    .result-button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
  
    
  }
}
