@import '../src/style/var.scss';

body {
  font-family: monospace;
  background-color: #fcb69f;
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}


